$error: #e26767;
$success: #0a5949;

%vhcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body {
  // background-image: url("./../img/back.png");
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  font-size: 50px !important;
  font-weight: bold !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.cubes {
  position: fixed;
  bottom: -20px;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
  opacity: 0.5;
}

.timer {
  @extend %vhcenter;
  color: $success;
  border: 10px solid $success;
  box-shadow: 0 10px 40px 0 rgba($color: #000000, $alpha: 0.5);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  -webkit-animation-name: zoomin;
  animation-name: zoomin;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.big-row {
  z-index: 999;
  position: relative;
}

.box {
  box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.3);
  background-color: rgba($color: #267496, $alpha: 0.4);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

  -webkit-animation-name: zoomin;

  animation-name: zoomin;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.4);
    // transform: scale(1.04);
  }

  .number {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.rotate {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.rotateMinus {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.board {
  -webkit-perspective: 200px;
  perspective: 200px;
}

.error {
  border: 5px solid $error;
  color: $error;
}

.success {
  border: 5px solid $success;
}

.start-div {
  background-color: rgba($color: #000000, $alpha: 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
}

#playBtn {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 24px !important;
  color: white !important;
}

#myModal {
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .my-modal-body {
    box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.4);

    margin: 0 15px;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 40px !important;
    text-align: center;
    -webkit-animation-name: zoomin;
    animation-name: zoomin;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .btn {
      font-size: 40px !important;
    }
  }
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomin {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
